@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1130px;
  box-sizing: border-box;
  padding: 20px;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

/* Hover full */

/* Header Nav */
.header-item-link {
  position: relative;
  transition: 0.3s;
}

.header-item-link::after {
  content: "";
  width: 0%;
  left: 0;
  bottom: -5px;
  position: absolute;
  background-color: #34313d;
  transition: width 0.5s ease;
  height: 3px;
}

.header-item-link:hover::after {
  width: 100%;
}

/* Btn hover */
.btn:hover {
  opacity: 80%;
}

.btn:hover {
  opacity: 60%;
}

/* Login */
.log__in {
  position: relative;
  transition: 0.3s;
}

.log__in::after {
  content: "";
  left: 0;
  bottom: -5px;
  transition: width 0.5s ease;
  position: absolute;
  height: 3px;
  background-color: #34313d;
  width: 0%;
}

.log__in:hover::after {
  width: 100%;
}

.log__in:hover {
  opacity: 80%;
}

.log__in:active {
  opacity: 80%;
}

/* SignUp */
.sign__up {
  border: 2px solid #2bd0d0;
  transition: 0.3s;
}
.sign__up:hover {
  background-color: transparent;
  color: #2bd0d0;
}
/* Buttons */
.btn {
  transition: 0.3s;
  display: inline-block;
  width: 197px;
  height: 56px;
  background-color: #2bd0d0;
  border-radius: 28px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 40px;
  padding-right: 40px;
}

/* Header */
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title-link {
  display: flex;
  gap: 45px;
  align-items: center;
}

.header-title {
  font-size: 25px;
}

/* Header nav */
.header-list {
  display: flex;
  gap: 30px;
}

.header-item-link {
  font-weight: 700;
  font-size: 15px;
  color: #9e9aa8;
}

/* Mini device burger logo */
.mini-device-img {
  display: none;
}
/* Header button */
.header-btn {
  display: flex;
  align-items: center;
  gap: 37px;
}

.log__in {
  font-weight: 700;
  font-size: 15px;
  color: #9e9aa8;
  line-height: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.sign__up {
  width: 105px;
  height: 40px;
  font-weight: 700;
  font-size: 15px;
  line-height: 100%;
  color: white;
  background-color: #2bd0d0;
  border-radius: 28px;
  cursor: pointer;
}

/* Hero */
.hero {
  background-image: url(../images/working_with_computer.jpg);
  background-repeat: no-repeat;
  background-size: 633px 482px;
  background-position: right center;
  padding-top: 140px;
  padding-bottom: 140px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 564px;
  align-items: flex-start;
}

.hero-title {
  font-weight: 700;
  font-size: 80px;
  line-height: 90px;
  letter-spacing: -2px;
  color: #34313d;
}

.hero-text {
  font-weight: 500;
  font-size: 22px;
  line-height: 36px;
  letter-spacing: 0.15px;
  color: #9e9aa8;
}

.hero-btn {
  margin-top: 33px;
}

/* Advanced Section */
.advanced {
  background-color: #eff1f7;
}

.advanced-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 56px;
}

/* Advanced top */
.advanced-top {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 540px;
  justify-content: center;
  gap: 10px;
}

.advanced-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: #34313d;
}

.advanced-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 0.12px;
  color: #9e9aa8;
}

/* Advanced bottom */
.advanced-bottom {
  display: flex;
  gap: 30px;
  background-image: url(../images/advanced-imgs/advanced-background-line.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
/* advanced box */
.advanced-box {
  width: 350px;
  background-color: #fff;
  border-radius: 5px;
  position: relative;
  padding-top: 77px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 41px;
}

.advanced-box:nth-child(1) {
  height: 270px;
}

.advanced-box:nth-child(2) {
  margin-top: 40px;
  height: 270px;
}

.advanced-box:nth-child(3) {
  margin-top: 80px;
  height: 270px;
}

.advanced-img-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 88px;
  height: 88px;
  background-color: #3a3054;
  border-radius: 50%;
  top: -40px;
}

.advanced-img {
  width: 40px;
  height: 40px;
}

.advanced-bottom-title {
  font-size: 22px;
  font-weight: 700;
}

.advanced-bottom-text {
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  color: #9e9aa8;
}

/* CTA */
.cta {
  background-image: url(../images/cta-images/background/cta-background-img-one.png),
    url(../images/cta-images/background/cta-background-img-two.png),
    url(../images/cta-images/background/cta-background-img-three.png);
  background-position: left -200px top -500px, bottom -520px left -730px,
    right top;
  background-size: 1124px 644px, 2000px 644px, 650px 330px;
  background-repeat: no-repeat;
  background-color: #3a3054;
  padding-top: 57px;
  padding-bottom: 57px;
}

.cta-container {
  text-align: center;
}

.cta-title {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: -1px;
  color: white;
}

.cta-btn {
  cursor: pointer;
  margin-top: 32px;
  border: none;
}

/* Footer */
.footer {
  background-color: #232127;
  padding-top: 70px;
  padding-bottom: 70px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 75px;
}

.footer-list {
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-title {
  font-size: 30px;
}

.footer-title-link {
  color: white;
}

.footer-link-title {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: -0.25px;
  color: #fff;
}

.footer-link {
  color: #bfbfbf;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -0.23px;
}

/* Footer Socials */
.footer-socials {
  display: flex;
  gap: 24px;
}

/* 1240 */
@media (max-width: 1240px) {
  .hero {
    background-size: 500px 450px;
  }
}

/* 1200 */
@media (max-width: 1200px) {
  .cta {
    background-image: url(../images/cta-images/background/cta-background-img-one.png),
      url(../images/cta-images/background/cta-background-img-two.png);
    background-position: left -200px top -400px, right -240px bottom -400px;
    background-size: 1300px 544px, 1400px 544px;
  }
}

/* 1120 */
@media (max-width: 1120px) {
  .advanced-bottom {
    flex-direction: column;
    background-image: url(../images/advanced-imgs/advanced-mobile-line.jpg);
    background-repeat: no-repeat;
  }
}

/* 1075 */
@media (max-width: 1076px) {
  .hero {
    background-size: 450px 400px;
  }
}

/* 1020 */
@media (max-width: 1020px) {
  .hero {
    background-position: top center;
  }

  .hero-content {
    text-align: center;
    justify-content: center;
    width: 100%;
    align-items: center;
    margin-top: 250px;
    flex-wrap: wrap;
  }
}

/* 910 */
@media (max-width: 911px) {
  .hero-title {
    font-size: 60px;
  }

  .hero-text {
    font-size: 18px;
  }
}

/* 850 */
@media (max-width: 850px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-socials {
    padding: 4px;
    border: 2px dashed rgb(180, 178, 178);
    border-radius: 5px;
  }
}

/* 825 */
@media (max-width: 826px) {
  .hero-title {
    font-size: 45px;
  }

  .hero-text {
    font-size: 16px;
  }
}

/* 750 */
@media (max-width: 750px) {
  .container {
    padding: 10px;
  }

  .hero-content {
    gap: 2px;
  }
}

/* 700 */
@media (max-width: 700px) {
  .cta {
    background-image: url(../images/cta-images/background/cta-background-img-one.png);
  }
}
/* 660 */
@media (max-width: 660px) {
  .header-nav {
    display: none;
  }

  .header-btn-menu {
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .mini-device-img {
    display: block;
  }

  .cta {
    background-image: url(../images/cta-images/background/cta-background-img-one.png),
      url(../images/cta-images/background/cta-background-img-two.png);
    background-size: 900px 500px, 1100px 504px;
  }
}

/* 600 */
@media (max-width: 600px) {
  .hero-title {
    font-size: 35px;
  }

  .hero-text {
    font-size: 14px;
  }
}

/* 550 */
@media (max-width: 551px) {
  .advanced-container {
    column-gap: 30px;
    padding: 5px;
  }

  .advanced-title {
    font-size: 30px;
  }

  .advanced-text {
    font-size: 16px;
  }

  .advanced-box {
    width: 300px;
  }
}

/* 470 */
@media (max-width: 470px) {
  .footer-links {
    gap: 50px;
  }

  .footer-list {
    gap: 5px;
  }

  .footer-link {
    font-size: 13px;
  }
}

/* 540 */
@media (max-width: 540px) {
  /* hero */
  .hero {
    background-position: right top;
  }
  /* advanced section */
  .advanced-container {
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 80px;
  }
  .advanced-top {
    width: 320px;
  }
  .advanced-title {
    font-size: 24px;
  }

  .advanced-text {
    font-size: 14px;
  }

  .advanced-img-box {
    left: 100px;
  }

  /* advanced bottom */

  .advanced-bottom-title {
    font-size: 18px;
  }

  .advanced-bottom-text {
    font-size: 13px;
  }
}

/* 455 */
@media (max-width: 455px) {
  .hero {
    background-position: right top;
    background-size: 400px 350px;
  }

  .hero-title {
    font-size: 26px;
    line-height: 50px;
  }

  .hero-text {
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.5px;
  }

  .cta-title {
    font-size: 35px;
  }
}

/* 420 */
@media (max-width: 420px) {
  .header-btn {
    display: none;
  }
  .hero {
    background-position: right top;
  }
}

/* 400 */
@media (max-width: 400px) {
  .hero {
    background-position: right top;
    background-size: 360px 340px;
  }
  .cta {
    background-image: url(../images/cta-images/background/cta-background-img-device-top.png),
      url(../images/cta-images/background/cta-background-img-device.png);
    background-position: top -550px right -240px, bottom -380px right;
    background-size: 1124px 644px, 1524px 624px;
  }

  .cta-title {
    font-size: 30px;
  }

  .cta-btn {
    margin-top: 18px;
  }
}

/* 370 */
@media (max-width: 375px) {
  .hero {
    background-position: right top;
    background-size: 300px 300px;
  }

  .footer {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .footer-link-title {
    font-size: 15px;
    font-weight: 600;
  }

  .footer-links {
    gap: 20px;
    flex-direction: column;
    align-items: center;
  }

  .footer-list {
    align-items: center;
  }

  .footer-link {
    text-align: center;
  }
}

/* 340 */
@media (max-width: 340px) {
  .hero {
    background-position: right top;
    background-size: 300px 300px;
  }

  .hero-title {
    font-size: 18px;
    line-height: 50px;
    letter-spacing: 1px;
  }

  .hero-text {
    font-size: 12px;
    line-height: 20px;
  }

  .cta {
    background-size: 1124px 644px, 1124px 600px;
  }

  .cta-title {
    font-size: 24px;
  }
}

/* 320 */
@media (max-width: 321px) {
  .cta {
    background-size: 900px 644px;
  }
  .hero {
    background-position: right top;
  }
}
